body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    text-align: center;
    color: white;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #ffd369;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.card {
    background: white;
    color: black;
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    text-align: left;
}